@import "~bootstrap/scss/bootstrap.scss";

.card{
    height: 500px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
}

.xButton{
    float: right;
    height: 20px;
    border-width: 0px;
    display: none;
}

